#root {
  background-color: #f1f5f9;
}

.navbar {
  
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  /* border-bottom: 1px solid #4f4f4f1c; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.setup {
  background: white;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid #64646428;
  width: fit-content;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1.5rem;
  z-index: 10;
}

.canvas-container {
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  /* padding: 1rem; */
}


.machineMsg textarea {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  background-color: #1e263f;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 7rem;
  color: white;
  font-size: 10px;
  padding: 1rem 1rem 1rem 1rem;
}
.machineMsg .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.75rem;
}
.machineMsg .buttons div {
  border-radius: 999px;
  border-width: 1px;
  border-color: #cbd5e1;
  transition: 0.3s all ease;
}
.machineMsg .buttons div:hover {
  border-color: white;
  background-color: #ebeaf7;
}